<head>
    <title>Change Password</title>
</head>
<body>
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="change">
    <h1>Change Password</h1>
    <div class="change-card">
        <form method="post">
            <label for="username">Username:</label>
            <input name="username" required type="text"><br>

            <label for="email">Email:</label>
            <input name="email" required type="email"><br>

            <label for="password1">New Password:</label>
            <input name="password1" required type="password"><br>

            <label for="password2">Confirm New Password:</label>
            <input name="password2" required type="password"><br>

            <input type="submit" value="Change password">
        </form>
    </div>
    <p>Want to sign up? <a href="{{ url_for('signup') }}">
        <button>Sign up</button>
    </a></p>
    <p>Want to log in? <a href="{{ url_for('login') }}">
        <button>Log in</button>
    </a></p>
</div>
</body>