<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Reviews</title>
    <style>
        .account {
            position: absolute;
            top: 1%;
            right: 1%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: fit-content;
            padding: 0 20px;
        }
    </style>
</head>
<body>
{% if 'username' not in session %}
<div class="account">
    <a class="link" href="{{ url_for('signup') }}">
        <button>Sign up</button>
    </a><br>
    <a href="{{ url_for('login') }}">
        <button>login</button>
    </a>
</div>
{% else %}
<div class="account">
    <p style="margin-right: 10px;"> {{session['username']}} </p>
    <a class="link" href="{{ url_for('logout') }}">
        <button>logout</button>
    </a>
</div>
{% endif %}
</body>
</html>